<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="../../../assets/img/agendamento.jpg" > 
</ion-header>

<ion-content _ngcontent-hvh-c143 class="md content-ltr hydrated" style="--offset-top:0px; --offset-bottom:0px; 
    --ion-background-color: #bcf0ff;">
  <ion-list>
    <h4>Para acessar essa funcionalidade por favor realize seu Login!</h4>

    <ion-card style="padding: 30px;">

      <ion-row class="log" >
        <ion-item >
          <ion-input name="email" type="email" placeholder="exemplo@email.com"  required></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="log">
        <ion-item >
          <ion-input name="password" type="password" placeholder="senha"  required></ion-input>
        </ion-item>
      </ion-row>
      
      <ion-row class="log">
        <ion-item  class="btlogin">
          <ion-button size="larger" color="warning" (click)="agend()" expand="block">Login</ion-button>
        </ion-item>
      </ion-row>

      <ion-text >
        <ion-button fill="clear" (click)="cadusu()" expand="block">Cadastre-se</ion-button>
      </ion-text>

    </ion-card>

  </ion-list>

</ion-content>
