<ion-header>
  <img src="../../../assets/img/gatonildo.jpg" > 
</ion-header>

<ion-content _ngcontent-hvh-c143 class="md content-ltr hydrated" style="--offset-top:0px; --offset-bottom:0px;
--ion-background-color:  #ffecd1!important">
  <img src="/../../assets/img/9.jpg">
</ion-content>

<ion-footer style="height: 50px;">
  <ion-tabs>
    <ion-tab-bar slot="start">
      <ion-tab-button class="hom" (click)="back()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>
          Home
        </ion-label>
      </ion-tab-button>

      <ion-tab-button class="agen" (click)="cad()">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>
          Agendamentos
        </ion-label>
      </ion-tab-button>

      <ion-tab-button class="lpet" (click)="logpet()">
        <ion-icon name="logo-octocat"></ion-icon>
        <ion-label>
          Meus pets
        </ion-label>
      </ion-tab-button>

      <ion-tab-button class="ser" (click)="sobre()">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>
          Serviços
        </ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>