<ion-header>
  <img src="../../../assets/img/gato2.jpg" > 
</ion-header>

<ion-content _ngcontent-hvh-c143 class="md content-ltr hydrated" style="--offset-top:0px; --offset-bottom:0px; 
--ion-background-color: url('/../../assets/img/home.jpg') no-repeat center center / cover !important; --ion-background-size: 100%;">
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="start">
    <ion-tab-button class="hom" (click)="home()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>
        Home
      </ion-label>
    </ion-tab-button>
    <ion-tab-button class="agen" (click)="cad()">
      <ion-icon name="heart" aria-hidden="true"></ion-icon>                                                                                                                                       
      <ion-label >
        Agendamentos
      </ion-label>
    </ion-tab-button>   
    
    <ion-tab-button class="sob" (click)="sobre()" >
      <ion-icon name="logo-octocat"></ion-icon>
      <ion-label>
        Sobre nos
      </ion-label>
    </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
