  ion-header{
    --text-align:top;
  }

  ion-title {
    --text-align: center;
  }
  ion-label {
    --color: black;
   
  }
  .agen, .hom, .sob{
  
    color: black;
  }
  .hom{
    background-color:#83fafe;
  }
  .agen{
    background-color: #9c8ffd;
  }
  .sob{
    background-color: #ffb593;
  }
  

  
  
  
  