ion-fab-button::part(native) {
    background-color: #F40F6A;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    color: black;
  }
      
  ion-fab-button::part(native):hover::after {
    background-color: #FEC9EB;
  }
  
  ion-fab-button::part(native):active::after {
    background-color: #FEC9EB;
  }
  ion-button::part(native) {
      background-color: #8B8DB1;
      opacity: 0.7;
      border-radius: 10px;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
  }
        